/* Підключення шрифта (не видаляти) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    margin-left: 110px;
    margin-right: 110px;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   
}


.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu-elements{
    /* Головна */


height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 17px;
/* identical to box height, or 93% */
text-transform: uppercase;

color: #000000;
text-decoration: none;


}

.hero-section{
    margin-top: 40px;

    /* hero-section */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 40px;
gap: 20px;


max-width: 1200px;
height: 550px;
min-height: 550px;


border-radius: 32px;


background: #D3E9FF top center / 100% no-repeat url(https://api.logikaschool.com.ua/media/library/44b094a8_phone_background.png);

}

.cta-title{
    /* cta-text */


max-width: 400px;
height: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 70px;
/* or 145% */

color: #000000;

}

.cta-button{
    /* cta-button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 14px 85px;


height: 50px;

background: #D3E9FF;
border: 1px solid #000000;
border-radius: 200px;
transition: 0.2s;

}

.products-title{
    /* products-title */

height: 53px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 52px;
/* identical to box height, or 125% */
text-align: center;

color: #000000;



}

.products-section{
    margin-top: 80px;
}

.products-cards{
/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: space-between;
padding: 0px;
gap: 50px 20px;


max-width: 1200px;

}

.card{
    /* card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 15px;
gap: 15px;

border: 1px solid #000000;
border-radius: 32px;

}

.contact-section{
    margin-top: 83px;
    /* contact-section */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 43px 0px;
gap: 28px;


max-width: 1200px;
height: 478px;

background: #D3E9FF;
border-radius: 16px;

}

.title-card{
    /* text-card */


height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 125% */

color: #000000;


}

.price-card{
    color: #645FD3;
}

.contact-text{
    text-align: center;
}

.input-phone{
/* input-phone */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 23px;
gap: 10px;


height: 50px;

background: #D3E9FF;
border: 1px solid #000000;
border-radius: 54px 0px 0px 54px;



}

.submit-button{
    /* submit-button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 33px;

height: 50px;

background: #000000;
border-radius: 0px 200px 200px 0px;
color: #FFFFFF;

}

form{
    display: flex;
}

footer{
    margin-top: 40px;
    background-color: #F8F9FA;
    /* footer */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: space-between;
padding: 40px 120px;
gap: 167px 40px;

height: 239px;
min-height: 200px;

background: #F8F9FA;
margin-left: -110px;  
margin-right: -110px;
}


.footer-menu{
    /* footer-menu */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-end;
align-items: flex-start;
align-content: flex-end;
padding: 0px;
gap: 40px;


height: 114px;



}

.vert-menu{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;


height: 114px;

border-radius: 0px;
}

.footer-elements-first{
/* footer-elements-first */


height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 125% */

color: #000000;
}

.footer-elements{
    /* footer-elements */
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* or 127% */

color: #000000;
}

footer a{
    text-decoration: none;
}

.cta-button:hover{
    background-color: black;
    color: white;
}

.menu-elements:hover{
    text-decoration: underline;
}
